[submodule "Drawing Electron Cloud with Matlab"]
	path = Drawing Electron Cloud with Matlab
	url = https://github.com/hollowman6/Drawing-Electron-Cloud-with-Matlab.git

[submodule "Drawing Using Fourier series"]
	path = Drawing Using Fourier series
	url = https://github.com/HollowMan6/Drawing-Using-Fourier-series.git

[submodule "Captcha Data Set Marking Tool"]
	path = Captcha Data Set Marking Tool
	url = https://github.com/HollowMan6/Captcha-Data-Set-Marking-Tool.git

[submodule "Play with Arduino"]
	path = Play with Arduino
	url = https://github.com/HollowMan6/Play-with-Arduino.git

[submodule "English Word Statistics Program"]
	path = English Word Statistics Program
	url = https://github.com/HollowMan6/English-Word-Frequency-Statistics-Program.git

[submodule "Standard Sudoku Solve System"]
	path = Standard Sudoku Solve System
	url = https://github.com/HollowMan6/Standard-Sudoku-Solve-System.git

[submodule "🐍 Retro Snaker"]
	path = 🐍 Retro Snaker
	url = https://github.com/HollowMan6/Retro-Snaker.git

[submodule "Gobang"]
	path = Gobang
	url = https://github.com/HollowMan6/Gobang.git

[submodule "Childhood's VB Programs"]
	path = Childhood's VB Programs
	url = https://github.com/HollowMan6/Childhood-s-VB-Programs.git

[submodule "🐋 Docker images for PyQT5 Spiders"]
	path = 🐋 Docker images for PyQT5 Spiders
	url = https://github.com/hollowman6/docker-pyqt5-spiders.git

[submodule "TinyML ESP32"]
	path = TinyML ESP32
	url = https://github.com/HollowMan6/TinyML-ESP32.git

[submodule "🖼 SRMD Pytorch"]
	path = 🖼 SRMD Pytorch
	url = https://github.com/HollowMan6/SRMD-Pytorch.git

[submodule "🔵⚪🔴 Staggered Mouse Balls"]
	path = 🔵⚪🔴 Staggered Mouse Balls
	url = https://github.com/HollowMan6/Staggered-Mouse-Balls.git

[submodule "💥 canvas-explosion-click.js"]
	path = 💥 canvas-explosion-click.js
	url = https://github.com/HollowMan6/canvas-explosion-click.js.git

[submodule "█ canvas-ribbon.js"]
	path = █ canvas-ribbon.js
	url = https://github.com/HollowMan6/canvas-ribbon.js.git

[submodule "🔴 canvas-ball.js"]
	path = 🔴 canvas-ball.js
	url = https://github.com/HollowMan6/canvas-ball.js.git

[submodule "🕸️ canvas-nest.js"]
	path = 🕸️ canvas-nest.js
	url = https://github.com/HollowMan6/canvas-nest.js.git

[submodule "Get Web Address"]
	path = Get Web Address
	url = https://github.com/HollowMan6/Get-Web-Address.git

[submodule "☀ sun.js"]
	path = ☀ sun.js
	url = https://github.com/HollowMan6/sun.js.git

[submodule "🍱 LZU Food Ordering"]
	path = 🍱 LZU Food Ordering
	url = https://github.com/LZU-Food-Ordering/LZU-Food-Ordering.git

[submodule "🦠 LZU Auto COVID Health Report"]
	path = 🦠 LZU Auto COVID Health Report
	url = https://github.com/HollowMan6/LZU-Auto-COVID-Health-Report.git

[submodule "⏲ Wechat Timed Message"]
	path = ⏲ Wechat Timed Message
	url = https://github.com/HollowMan6/Wechat-Timed-Message.git

[submodule "📢 Site Notifications"]
	path = 📢 Site Notifications
	url = https://github.com/HollowMan6/Site-Notifications.git

[submodule "🎛️ Customize IBus"]
	path = 🎛️ Customize IBus
	url = https://github.com/openSUSE/Customize-IBus.git

[submodule "🎨 IBus Theme Tools"]
	path = 🎨 IBus Theme Tools
	url = https://github.com/openSUSE/IBus-Theme-Tools.git

[submodule "🗄 IBus Theme Hub"]
	path = 🗄 IBus Theme Hub
	url = https://github.com/openSUSE/IBus-Theme-Hub.git

[submodule "💹 Predict Chinese Stock Market"]
	path = 💹 Predict Chinese Stock Market
	url = https://github.com/HollowMan6/Predict-Chinese-Stock-Market.git

[submodule "💬 GitHub Issues to Wechat"]
	path = 💬 GitHub Issues to Wechat
	url = https://github.com/HollowMan6/GitHub-Issues-to-Wechat.git

[submodule "👮 GateKeeper"]
	path = 👮 GateKeeper
	url = https://github.com/HollowMan6/GateKeeper.git